<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core">
	

<h:head>
	<ui:insert name="windowTitle">
	   <p:outputLabel value="Pedidos"/>
	</ui:insert>
	<h:outputStylesheet library="css" name="style.css"/>
	
</h:head>
<h:body style="width:900px;">	
	<p:layout fullPage="true">  
  
    <p:layoutUnit position="north" size="90" resizable="true" closable="false" collapsible="false" >  
		<div align="left">
<!-- 			<p:graphicImage name="images/logo-banner.png"></p:graphicImage> -->
			<p:separator/>			
		</div>
		<div id="menu">
		<h:form>
			<p:growl id="messages" showDetail="true"/>
			
		    <p:menubar>
		    		<p:menuitem value="Clientes"  update="messages" icon="ui-icon-search" ajax="false" url="/faces/clientesList.xhtml?faces-redirect=true" style="float:right"/>
		    		<p:menuitem value="Usuarios"  update="messages" icon="ui-icon-search" ajax="false" url="/faces/usuarios.xhtml?faces-redirect=true" style="float:right"/>
		    		<p:menuitem value="Productos"  update="messages" icon="ui-icon-search" ajax="false" url="/faces/productList.xhtml?faces-redirect=true" style="float:right"/>
		            <p:menuitem value="Cambiar Clave"  update="messages" icon="ui-icon-search" actionListener="#{loginBean.cambiarClave}"/>
		            <p:menuitem value="Pedidos"  update="messages" icon="ui-icon-search" ajax="false" url="/faces/pedidosList.xhtml?faces-redirect=true" style="float:right"/>
		            
		            <p:menuitem value="Salir" actionListener="#{loginBean.closeSession}" ajax="false" url="/faces/index.xhtml?faces-redirect=true" icon="ui-icon-close" style="float:right"/>
		    </p:menubar>
		</h:form>
		</div>
    </p:layoutUnit>  
  
    <p:layoutUnit position="south" size="50" resizable="false" closable="false" collapsible="false">
    	<div align="center">  
        	<p:outputLabel value="UNJu - Facultad de Ingeniería"/>
        </div>	  
    </p:layoutUnit>  
  
    <p:layoutUnit position="center">  
		
		<ui:insert name="content"> </ui:insert>
		
    </p:layoutUnit>  
  
</p:layout>  
	
</h:body>
</html>