<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">

<h:head>
	<title><p:outputLabel value="Sistema de Pedidos"/></title>

</h:head>
<h:body>	

	<ui:composition template="/templates/template.xhtml">
	<ui:define name="windowTitle">
		<p:outputLabel value="Sistema de Pedidos"/>
	</ui:define>
	
	<ui:define name="content">
	
		<p:outputLabel value="Bienvenidos al Sistema..."></p:outputLabel>	
	</ui:define>
	
  </ui:composition>
	
</h:body>
</html>