<ui:composition template="/templates/template.xhtml" 
	xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:f="http://java.sun.com/jsf/core" 
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

	<ui:define name="heading">
		<h1><h:outputText value="Alta"/></h1>
	</ui:define>

	<ui:define name="content">


		<h:form>
    
     
    <h:panelGrid columns="7" cellpadding="5">
        <p:outputLabel value="ID:"/>
        <p:autoComplete id="acSimple"/>
         <!-- value="#{autoCompleteView.txt1}" completeMethod="#{autoCompleteView.completeText}" /> -->
         <p:outputLabel for="german" value="Fecha:" />
        <p:calendar id="german" value="#{calendarView.date5}" locale="de" navigator="true" pattern="yyyy-MMM-dd" />
       
        <p:outputLabel value="Cliente:" />
        <p:selectOneMenu id="cliente" value="#{pedidoAltaBean.cliente}">
        	<f:selectItem itemLabel="Selección" itemValue=""/>
        	<f:selectItems value="#{pedidoAltaBean.listCliente}"/>
        </p:selectOneMenu>
        <!-- value="#{autoCompleteView.txt6}" completeMethod="#{autoCompleteView.completeText}" /> -->
 
    
    </h:panelGrid>
    
    <p:panel id="basic" header="Basic"  style="margin-bottom:20px">
        <h:panelGrid columns="8" cellpadding="5">
         
         <p:outputLabel value="Producto:" for="producto1" />
        <p:autoComplete id="producto1" dropdown="true" />
        
         <h:outputLabel for="minMax" value="Min/Max: " />
        <p:spinner id="minMax" value="#{spinnerView.number3}" min="0" max="100" />
        
         <p:commandButton id="agregar" action="#{pedidoAltaBean.agregar}"  value="Agregar" icon="pi pi-check"/>   
        
        </h:panelGrid>
        
        
        
    </p:panel>
    
    <p:dataTable id="detalles" value="#{pedidoAltaBean.listaDetalle}" var="p"
				styleClass="scrollerTable"
				paginator="true" rows="10" editable="true"
				headerClass="standardTable_Header"
        			footerClass="standardTable_Header"
        			columnClasses="columna_abajoderecha,columna_abajoderecha,columna_abajo"
        			preserveDataModel="false"
        			pageLinks="5" rowKey="#{urow.producId}" rowsPerPageTemplate="10,25,50,100">			

				<!-- <p:ajax event="rowEdit" listener="#{productListBean.editarProducto}" update=":form:message" />
				
				<p:ajax event="rowEditCancel" listener="#{productListBean.cancelarEdicion}" update=":form:message"/>
				 -->
				<!-- <p:column style="width:6%" exportable="false" >
					<p:rowEditor rendered="true"/>
				</p:column>
				 -->
									
				<!-- <p:column>
					<p:commandButton id="update" action="#{productAltaBean.preUpdate}" title="Editar Producto" icon="ui-icon-pencil">
						<f:setPropertyActionListener value="#{p}" target="#{productAltaBean.product}" />					
					</p:commandButton>
				</p:column>
				 -->
				<p:column>
					<f:facet name="header" style="width:10%">
						<h:outputText value="Producto"/>
					</f:facet>
					<h:outputText value="#{p.producto.productoId}"/>
				</p:column>
				<p:column>
					<f:facet name="header" style="width:10%">
						<h:outputText value="Nombre"/>
					</f:facet>		
					<h:outputText value="#{p.producto.nombre}"/>
				</p:column>
				
				<p:column>
					<f:facet name="header" style="width:10%">
						<h:outputText value="Tamaño"/>
					</f:facet>		
					<h:outputText value="#{p.producto.tamano}"/>
				</p:column>
				
				<p:column>
					<f:facet name="header" style="width:10%">
						<h:outputText value="Unidades"/>
					</f:facet>		
					<h:outputText value="#{p.cantidad}"/>
				</p:column>


					<p:column>
					<f:facet name="header" style="width:10%">
						<h:outputText value="Valor Unidad"/>    
					</f:facet>
					<h:outputText value="#{p.precioUnitario}"/>
				</p:column>
				
							
					
					<p:column>
					<f:facet name="header" style="width:10%">
						<h:outputText value="Subtotal"/>    
					</f:facet>
					<h:outputText value="#{p.subtotal}"/>
				</p:column>	

				
			
			</p:dataTable>
   
    
    <p:commandButton id="submit" action="#{pedidoAltaBean.guardar}"  value="Guardar" icon="pi pi-check"/>   
    
    
</h:form>

</ui:define>
</ui:composition>


