<ui:composition template="/templates/template.xhtml" 
	xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:f="http://java.sun.com/jsf/core" 
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

	<ui:define name="heading">
		<h1><h:outputText value="Buscar Pedidos"/></h1>
	</ui:define>

	<ui:define name="content">


		<h:form id="form">
<!-- 			<h:messages globalOnly="true"/> -->
			<p:growl id="message" showDetail="true" />
		 	<h:panelGrid columns="3">
		 		
		 		<p:outputLabel for="pedidoId" value="Código:"/>
		      	<p:inputText id="pedidoId" value="#{pedidoListBean.pedidoId}" converterMessage="Debe ingresar un Número">
		      		<f:convertNumber integerOnly="true" groupingUsed="false" />
		      	</p:inputText>
		      	<p:message for="pedidoId" showSummary="true" showDetail="false"  styleClass="error" />
		
		

		      	
		      	
        <p:outputLabel value="Vendedor:"/>
        <p:selectOneMenu id="usuario" value="#{pedidoListBean.usuario.usuarioId}">
        	<f:selectItem itemLabel="Selección" itemValue=""/>
        	<f:selectItems value="#{pedidoListBean.listUsuarios}"/>
        </p:selectOneMenu>
      	
      	
		        <p:commandButton action="#{pedidoListBean.search}"  value="Buscar" title="Buscar" update="pedidos" icon="ui-icon-search"/> 
		        <p:commandButton action="#{pedidoAltaBean.preInsert}" value="Nuevo" title="Nuevo" icon="ui-icon-document"/> 
		
			</h:panelGrid>
			
			<p:dataTable id="pedidos" value="#{pedidoListBean.pedidoList}" var="p"
				styleClass="scrollerTable"
				paginator="true" rows="10" editable="true"
				headerClass="standardTable_Header"
        			footerClass="standardTable_Header"
        			columnClasses="columna_abajoderecha,columna_abajoderecha,columna_abajo"
        			preserveDataModel="false"
        			pageLinks="5" rowKey="#{urow.producId}" rowsPerPageTemplate="10,25,50,100">			

				<p:ajax event="rowEdit" listener="#{pedidoListBean.editarpedido}" update=":form:message" />
				
				<p:ajax event="rowEditCancel" listener="#{pedidoListBean.cancelarEdicion}" update=":form:message"/>
				
				<p:column style="width:6%" exportable="false" >
					<p:rowEditor rendered="true"/>
				</p:column>
				
									
				<p:column>
					<p:commandButton id="update" action="#{pedidoAltaBean.preUpdate}" title="Editar pedido" icon="ui-icon-pencil">
						<f:setPropertyActionListener value="#{p}" target="#{pedidoAltaBean.pedido}" />					
					</p:commandButton>
				</p:column>
				
				<p:column>
					<f:facet name="header" style="width:10%">
						<h:outputText value="Código"/>
					</f:facet>
					<h:outputText value="#{p.pedidoId}"/>
				</p:column>
				<p:column>
					<f:facet name="header" style="width:10%">
						<h:outputText value="Fecha"/>
					</f:facet>		
					<h:outputText value="#{p.fecha}"/>
				</p:column>
				
				<p:column>
					<f:facet name="header" style="width:10%">
						<h:outputText value="Cliente"/>
					</f:facet>		
					<h:outputText value="#{p.cliente.nombre}"/>
				</p:column>

				<p:column>
					<f:facet name="header" style="width:10%">
						<h:outputText value="Estado"/>    
					</f:facet>
					<h:outputText value="#{p.estado}"/>
				</p:column>

					<p:column exportable="true" styleClass="ui-helper-hidden">
						<f:facet name="header">
							<h:outputText value="Importe" style="float:right"/>
						</f:facet>
						<h:outputText value="#{p.importe}">
							<f:convertNumber pattern="$#,##0.00"/>				
						</h:outputText>
					</p:column>
				
					<p:column headerText="Importe" exportable="false" stye="text-align:right;">
						<p:cellEditor>
							<f:facet name="output">
								<h:outputText value="#{p.importe}" for="importe" style="float:right">
								    <f:convertNumber pattern="$#,##0.00"/>								
								</h:outputText>
							</f:facet>
							<f:facet name="input">
								<p:inputText id="importe" style="width:60px;" required="true"
									onkeyup="return maskDouble(event,7,2)" converter="#{Double}" value="#{p.importe}" />
							</f:facet>
						</p:cellEditor>
					</p:column>			
					
			
			</p:dataTable>
			
		</h:form>

</ui:define>
</ui:composition>
