<ui:composition template="/templates/template.xhtml" 
	xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:f="http://java.sun.com/jsf/core" 
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

	<ui:define name="heading">
		<h1><h:outputText value="Alta"/></h1>
	</ui:define>

	<ui:define name="content">


		<h:form>
			<h:messages globalOnly="true"></h:messages>
		 	<h:panelGrid columns="2">
		 		<!-- 
		 		<p:outputLabel value="Código"/>
		      	<p:inputText id="productoId" value="#{productAltaBean.product.productoId}" converterMessage="Debe ingresar un Número">
		      		<f:convertNumber integerOnly="true" groupingUsed="false" />
		      	</p:inputText>
		      	<p:message for="productoId" showSummary="true" showDetail="false"  styleClass="error" />
			 -->
		      	<p:outputLabel value="Alta de producto"/>
		 		<p:outputLabel value="Nombre"/>
		      	<p:inputText id="nombre" value="#{productAltaBean.nombre}" />  
		      	
		      	<p:outputLabel value="Tamaño"/>
		      	<p:inputText id="tamano" value="#{productAltaBean.tamano}" />     
		      	
		      	<p:outputLabel value="Precio"/>
		      	<p:inputText id="precio" value="#{productAltaBean.precio}" />
		      	
		      	<p:outputLabel value="Estado"/>
		      	<p:inputText id="estado" value="#{productAltaBean.estado}" />
		      	
		      	<p:outputLabel value="Stock"/>
		      	<p:inputText id="stock" value="#{productAltaBean.stock}" />      	
		      	
		        <p:commandButton id="submit" action="#{productAltaBean.guardar}"  value="Guardar"/> 
		
			</h:panelGrid>
			
		</h:form>

</ui:define>
</ui:composition>