<ui:composition template="/templates/template.xhtml" 
	xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:f="http://java.sun.com/jsf/core" 
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

	<ui:define name="heading">
		<h1><h:outputText value="Buscar Productos"/></h1>
	</ui:define>

	<ui:define name="content">


		<h:form id="form">
<!-- 			<h:messages globalOnly="true"/> -->
			<p:growl id="message" showDetail="true" />
		 	<h:panelGrid columns="3">
		 		
		 		<p:outputLabel for="productoId" value="Código:"/>
		      	<p:inputText id="productoId" value="#{productListBean.productoId}" converterMessage="Debe ingresar un Número">
		      		<f:convertNumber integerOnly="true" groupingUsed="false" />
		      	</p:inputText>
		      	<p:message for="productoId" showSummary="true" showDetail="false"  styleClass="error" />
		
		      	
		 		<p:outputLabel value="Nombre"/>
		      	<p:inputText id="nombre" value="#{productListBean.nombre}" />      	
		      	
      	
		        <p:commandButton action="#{productListBean.search}"  value="Buscar" title="Buscar" update="products" icon="ui-icon-search"/> 
		        <p:commandButton action="#{productAltaBean.preInsert}" value="Nuevo" title="Nuevo" icon="ui-icon-document"/> 
		
			</h:panelGrid>
			
			<p:dataTable id="products" value="#{productListBean.productList}" var="p"
				styleClass="scrollerTable"
				paginator="true" rows="10" editable="true"
				headerClass="standardTable_Header"
        			footerClass="standardTable_Header"
        			columnClasses="columna_abajoderecha,columna_abajoderecha,columna_abajo"
        			preserveDataModel="false"
        			pageLinks="5" rowKey="#{urow.producId}" rowsPerPageTemplate="10,25,50,100">			

				<p:ajax event="rowEdit" listener="#{productListBean.editarProducto}" update=":form:message" />
				
				<p:ajax event="rowEditCancel" listener="#{productListBean.cancelarEdicion}" update=":form:message"/>
				
				<p:column style="width:6%" exportable="false" >
					<p:rowEditor rendered="true"/>
				</p:column>
				
									
				<p:column>
					<p:commandButton id="update" action="#{productAltaBean.preUpdate}" title="Editar Producto" icon="ui-icon-pencil">
						<f:setPropertyActionListener value="#{p}" target="#{productAltaBean.product}" />					
					</p:commandButton>
				</p:column>
				
				<p:column>
					<f:facet name="header" style="width:10%">
						<h:outputText value="Código"/>
					</f:facet>
					<h:outputText value="#{p.productoId}"/>
				</p:column>
				<p:column>
					<f:facet name="header" style="width:10%">
						<h:outputText value="Nombre"/>
					</f:facet>		
					<h:outputText value="#{p.nombre}"/>
				</p:column>
				
				<p:column>
					<f:facet name="header" style="width:10%">
						<h:outputText value="Litros"/>
					</f:facet>		
					<h:outputText value="#{p.tamano}"/>
				</p:column>


					<p:column exportable="true" styleClass="ui-helper-hidden">
						<f:facet name="header">
							<h:outputText value="Precio" style="float:right"/>
						</f:facet>
						<h:outputText value="#{p.precio}">
							<f:convertNumber pattern="$#,##0.00"/>				
						</h:outputText>
					</p:column>
				
					<p:column headerText="Precio" exportable="false" stye="text-align:right;">
						<p:cellEditor>
							<f:facet name="output">
								<h:outputText value="#{p.precio}" for="precio" style="float:right">
								    <f:convertNumber pattern="$#,##0.00"/>								
								</h:outputText>
							</f:facet>
							<f:facet name="input">
								<p:inputText id="precio" style="width:60px;" required="true"
									onkeyup="return maskDouble(event,7,2)" converter="#{Double}" value="#{p.precio}" />
							</f:facet>
						</p:cellEditor>
					</p:column>			
					
					<p:column>
					<f:facet name="header" style="width:10%">
						<h:outputText value="Stock"/>    
					</f:facet>
					<h:outputText value="#{p.stock}"/>
				</p:column>	

				<p:column>
					<f:facet name="header" style="width:10%">
						<h:outputText value="Estado"/>    
					</f:facet>
					<h:outputText value="#{p.estado}"/>
				</p:column>
			
			</p:dataTable>
			
		</h:form>

</ui:define>
</ui:composition>
